@import '../variables.scss';

.el-collapse-item__wrap{
    border-bottom:none ;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.el-collapse-item__header{
    border-bottom: none;
}